<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xl-12 m-0 p-5 wth">
                <h1 style="color:white;text-align:center">WEATHER REPORT</h1>
                <form method="POST" action="/">
                 <div class="form-group">
                    <input class="form-control" type="text" name="loct" placeholder="Location/City">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</body>
</html>