{% if "sun" in weather_details['description'] and "cloud" in weather_details['description'] %}
<div class="icon sun-shower">
  <div class="cloud"></div>
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="rain"></div>
</div>

{% elif "storm" in weather_details['description'] %}
<div class="icon thunder-storm">
  <div class="cloud"></div>
  <div class="lightning">
    <div class="bolt"></div>
    <div class="bolt"></div>
  </div>
</div>

{% elif "cloud" in weather_details['description'] %}
<div class="icon cloudy">
  <div class="cloud"></div>
  <div class="cloud"></div>
</div>

{% elif "haze" in weather_details['description'] or "snow" in weather_details['description'] %}
<div class="icon flurries">
  <div class="cloud"></div>
  <div class="snow">
    <div class="flake"></div>
    <div class="flake"></div>
  </div>
</div>

{% elif "clear" in weather_details['description'] %}
<div class="icon sunny">
  <div class="sun">
    <div class="rays"></div>
  </div>
</div>

{% elif "rain" in weather_details['description'] or "drizzle" in weather_details['description'] %}
<div class="icon rainy">
  <div class="cloud"></div>
  <div class="rain"></div>
</div>
{% endif %}